 
* {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    color: white;
    font-family: 'Comic Neue', cursive;
    font-weight:bold;
    font-size:large;
 }

body {
   display: flex;
   margin: auto;
   background-color: black;
   max-width: 90%;
}

img {
   max-width: 100%;
   max-height: 100%;
}

.disclaimer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   align-items: center;
   margin: 2rem 0;
   gap: 2rem;
}

.disTop {
  display: block;
  align-items: center;
  width: 70%;
}
.disMid {
  display: none;
  width: 70%;
  margin-top: 4rem;
}
.disMid .mid {
   margin-bottom: 2rem;
}

.disMid img {
   width: 5rem;
   margin-bottom: 2rem;
}
.madLibs {
   display: none;
   border: 1px solid white;
   padding: 30px;
   padding-top: 15px;
   margin-top: 2rem;
   height: auto;
   position: relative;
}

.page10 img{
  
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   margin-top:15px;
   margin-bottom:30px;
}
.page10-story {
   text-align:center;
}

.end-notes {
   margin-top:50px;
   display:flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
}

.madLibsPreview0 p, .madLibsPreview1 p, .madLibsPreview2 p {
   font-weight:lighter;
   font-size: small;
   color:#828282;
}
button {
   padding:10px;
   font-weight: bold;
   border-radius: 5px;
   color: black;
}


button:hover {
    cursor:pointer;
 }

footer {
   font-size: small;
   text-align:center;
   margin-top:30px;
   
}

#audio3 {
   width: 200px;
   height: 25px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}

input {
   background-color: black;
   border: 1px solid white;
   width: 5rem;
}
input:focus {
   box-shadow: 5px 0 1rem red;
}


 .wrapper{
   display: flex;
   flex-direction: column;
   max-width: 98%;
   margin: auto;
   
}

.page1{
   margin: 1rem  0rem 0rem 0rem;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   line-height: 1.5rem;
   text-align: center;
   flex-wrap: wrap;

   
}
 
.madLibsEdit1{
   width: 80%;
   min-width: 250px;
   flex-grow: 1;
   margin: auto;
} 

.page1-img{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 200px;
   flex-grow: 1;
   margin-bottom: 0rem;
   
}

.page2{

   margin: 1rem  0rem 0rem 0rem;
   display: flex;
   flex-direction: row-reverse;
   justify-content: space-between;
   align-items: center;
   line-height: 1.5rem;
   text-align: center;
   flex-wrap: wrap;

}
 
.page2-story{
   width: 70%;
   min-width: 250px;
   flex-grow: 1;
   
} 

.page2-img{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 200px;
   flex-grow: 1;
   margin-bottom: 0rem;
   margin-top: 1rem;
   
}

.page3{
   margin: 0rem  0rem 0rem 0rem;
   display: flex;
   flex-direction: row-reverse;
   justify-content: space-between;
   align-items: center;
   line-height: 1.5rem;
   text-align: center;
   flex-wrap: wrap-reverse;
}
 
.page3-story{
   width: 70%;
   min-width: 250px;
   flex-grow: 1;
   text-align: center;
   align-self: start;
   margin-top:1rem ;
} 

.page3-img{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 200px;
   max-height: 150px;
   flex-grow: 1;
   margin-top: 4rem;
}


.page4{
   margin: 0rem  0rem 1rem 0rem;
   display: flex;
   flex-direction: row-reverse;
   justify-content: space-between;
   align-items: center;
   line-height: 1.5rem;
   text-align: center;
   flex-wrap: wrap;
}
 
.page4-story{
   width: 70%;
   min-width: 250px;
   flex-grow: 1;
   text-align: center;
   align-self: start;
   margin-top:1rem ;
} 

.page4-img{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 200px;
   height: 300px;
   flex-grow: 1;
   
}

.page5{
   margin: 0rem  0rem 1rem 0rem;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   line-height: 1.5rem;
   text-align: center;
   flex-wrap: wrap;

}
 
.page5-story{
   width: 70%;
   min-width: 250px;
   flex-grow: 1;
   margin-top:1rem ;
   margin: auto;
   margin-left: auto;
} 

.page5-img{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 200px;
   height: 200px;
   flex-grow: 1;
   
}
.page6{
   margin: 2rem  0rem 1rem 0rem;
   display: flex;
   flex-direction: row-reverse;
   justify-content: space-between;
   align-items: center;
   line-height: 1.5rem;
   text-align: center;
   flex-wrap: wrap;
}
 
.page6-story{
   width: 70%;
   min-width: 250px;
   flex-grow: 1;
   text-align: center;
   align-self: start;
   margin-top:1rem ;
} 

.page6-img{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 200px;
   height: 200px;
   flex-grow: 1;  
}

.page7{
   margin: 2rem  0rem 1rem 0rem;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   line-height: 1.5rem;
   text-align: center;
   flex-wrap: wrap;
}
 
.page7-story{
   width: 50%;
   min-width: 200px;
   flex-grow: 1;
   text-align: center;
   align-self: start;
   margin-top:1rem ;
   margin-bottom:1rem ;
} 

.page7-img{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 300px;
   height: 200px;
   flex-grow: 1;
}
.page8{
   margin: 2rem  0rem 1rem 0rem;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   line-height: 1.5rem;
   text-align: center;
   flex-wrap: wrap;
   gap: 1rem;
}
 
.page8-story{
   width: 60%;
   min-width: 200px;
   flex-grow: 1;
   text-align: center;
   align-self: start;
   margin-top:1rem ;
   margin-bottom:1rem ;
} 

.page8-img{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 200px;
   height: 200px;
   flex-grow: 1;
   transform: rotate(40deg);
}
.page9{
   margin: 2rem  0rem 1rem 0rem;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   line-height: 1.5rem;
   text-align: center;
   flex-wrap: wrap-reverse;
}
 
.page9-story{
   width: 70%;
   min-width: 200px;
   flex-grow: 1;
   text-align: center;
   align-self: start;
   margin-top:1rem ;
   margin-bottom:1rem ;
} 

.page9-img{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 200px;
   height: 200px;
   flex-grow: 1;
}

.page10{
   margin: 2rem  0rem 1rem 0rem;
   display: flex;
   flex-direction: row-reverse;
   justify-content: space-between;
   align-items: center;
   line-height: 1.5rem;
   text-align: center;
   flex-wrap: wrap-reverse;
}
 
.page10-story{
   width: 60%;
   min-width: 200px;
   flex-grow: 1;
   text-align: center;
   align-self: start;
   margin-top:1rem ;
   margin-bottom:1rem ;
} 
.madLibsPreview0{
   margin-top:1rem;
   margin-bottom: 1rem;
   background-color: #100f0f;
   border-radius: 5px;
   
}
.page10-img{
   margin-top: 1rem;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 250px;
   height: 200px;
   flex-grow: 1;
}
.madLibsEdit{
   width: 70%;
}
.madLibsEdit input{
   text-align: center;
   border: none;
   width: 5rem;
   border: 0px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.4s;
  outline: none;
  font-style: italic;
  background-color:#100f0f ;
  border-radius: 5px;

}
input:focus {
   background-color:#100f0f ;
   border: 2px solid #555;
}
.madLibsPreview1{
   margin-top:1rem;
   margin-bottom: 1rem;
   background-color: #100f0f;
   border-radius: 5px;
}
.madLibsPreview2{
   margin-top:1rem;
   margin-bottom: 1rem;
   background-color: #100f0f;
   border-radius: 5px;
   
}
